@model ConsoleAppProject.App02.BMI;
@{
    ViewData["Title"] = "BmiCalculator";
}

<h1>BmiCalculator</h1>
<div class="container">
    <div class="jumbotron">
        <div>
            <h1 class="text-center">
                Body Mass Index Calculator
            </h1>
        </div>
        <hr />
        <br />
        <div>
            <p style="margin-left:10%; margin-right:10%">
                Your BMI, or Body Mass Index, is a measure of your weight compared to your height. Accurate assessments of obesity are important,
                as being overweight or obese significantly increases your risk of a variety of medical conditions including type 2 diabetes, heart disease and cancer.

                For most adults, BMI gives a good estimate of your weight-related health risks. If your BMI is over 35, your weight is definitely
                putting your health at risk, regardless of the factors below. However, there are some situations where BMI may underestimate or
                overestimate these risks in the 25-35 BMI range. The main ones are:
                <ul>
                    <li>Children</li>
                    <li>Pregnant women.</li>
                    <li>Muscle Builders</li>
                    <li>BAME: Black, Asian and other minority ethnic groups.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row" id="bmiForm">
            <div class="col-sm-12 col-md-6">
                <div class="row align-content-center">
                    <div class="col-sm-12 col-md-6">
                        <p style="margin-left:5%; margin-right: 5%">
                            You can chose between metric or imperial input.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <input type="button" class="btn btn-info float-lg-left" value="Metric"
                               onclick="javascript: $('#imperial').hide();javascript: $('#metric').show();" />
                        <input type="button" class="btn btn-info float-lg-right" value="Imperial"
                               onclick="javascript: $('#imperial').show();javascript: $('#metric').hide();" />
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-6 align-self-lg-center" style="display:block;" id="metric">
                <form method="post">
                    <div class="form-group">
                        <h3>Height</h3>
                        <br />
                        <label for="Centimenters">Centimeters</label>
                        <input class="form-control" asp-for="Height" placeholder="Centimeters" required />
                    </div>
                    <div class="form-group">
                        <h3>Weight</h3>
                        <br />
                        <label for="Kilograms">Kilograms</label>
                        <input class="form-control" asp-for="Weight" placeholder="Kilograms" required />
                    </div>
                    <button asp-action="BMIResultM" type="submit" class="btn" style="background-color:forestgreen;">Calculate</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 align-self-lg-center" style="display:none;" id="imperial">
                <form method="post">
                    <div class="form-group">
                        <h3>Height</h3>
                        <br />
                        <label for="Feet">Feet</label>
                        <input class="form-control" asp-for="Feet" placeholder="Feet" required />
                        <label for="Inch">Inch</label>
                        <input class="form-control" asp-for="Inches" placeholder="Inches" required />
                    </div>
                    <div class="form-group">
                        <h3>Weight</h3>
                        <br />
                        <label for="Pounds">Pounds</label>
                        <input class="form-control" asp-for="Weight" placeholder="Pounds" required />
                    </div>
                    <button asp-action="BMIResultI" type="submit" class="btn" style="background-color:forestgreen;">Calculate</button>
                </form>
            </div>
        </div>
    </div>
</div>