@model ConsoleAppProject.App01.DistanceConverter
@using ConsoleAppProject.App01

@{ ViewData["Title"] = "DistanceConverter"; }

<div class="jumbotron">
    <h3 class="display-4 text-center">Distance Converter</h3>
    <hr class="my-4 text-center">
    <div class="container">
        <div class="row" style="margin:15px">
            <div class="col-sm-6" >
                <form method="post">
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" class="form-control" asp-for="Unit1Value" placeholder="Your amount.." required />
                    </div>
                    <div class="form-group">
                        <label for="converted">Convert:</label>
                        <select class="form-control" asp-for="Unit1" asp-items="Html.GetEnumSelectList<DistanceUnits>()" required>
                            <option value="">none</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="toConvert">To:</label>
                        <select class="form-control" asp-for="Unit2" asp-items="Html.GetEnumSelectList<DistanceUnits>()" required>
                            <option value="">none</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:15px">Convert</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6" style="background-color:rgba(255,255,255,0.2); border-radius:5px;min-height:275px">
                <h2 class="text-center" style="margin-top:10px;margin-bottom:95px">Result</h2>
                <h2 class="text-center">@Model.ConverterResult(true)</h2>
            </div>
        </div>
    </div>
</div>