@model ConsoleAppProject.App01.DistanceConverter
@using ConsoleAppProject.App01

@{ ViewData["Title"] = "DistanceConverter"; }
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/inputdecimal10.js"></script>
<div class="jumbotron">
    <h3 class="display-4 text-center">Distance Converter</h3>
    <hr class="my-4 text-center">
    <div class="container">
        <div class="row" style="margin:15px">
            <div class="col-sm-6">
                <h3 class="text-center font-weight-light" style="margin-top:10px;margin-bottom:10px">Distance</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" class="form-control floatNumberField" value="0" step="0.01" asp-for="Unit1Value" required />
                    </div>
                    <div class="form-group">
                        <label for="converted">Convert:</label>
                        <select class="form-control" asp-for="Unit1" asp-items="Html.GetEnumSelectList<DistanceUnits>()" required>
                            <option value="">none</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="toConvert">To:</label>
                        <select class="form-control" asp-for="Unit2" asp-items="Html.GetEnumSelectList<DistanceUnits>()" required>
                            <option value="">none</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:15px">Convert</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6" style="background-color:rgba(255,255,255,0.8); border-radius:5px;min-height:275px">
                <h3 class="text-center font-weight-light" style="margin-top:10px;">Result</h3>

                <textarea class="text-center font-weight-bolder h3" placeholder="Enter values on the left to see results" style="width:100%;min-height:300px;outline:none;border:none;margin-bottom:10px;border-radius:5px;padding:15px;color:#3d3d3d">@Model.ConverterResult(true)</textarea>
            </div>
        </div>
    </div>
</div>