@{
    ViewData["Title"] = "H.S. Home Page";
}
<div class="jumbotron">
    <h1 class="display-4 text-center">CO453 Programming</h1>
    <hr class="my-4 text-center">
    <h2 class="text-center">By Haroon Sadiq</h2>
</div>
<div class="row">
    <div class="col-sm-4"  style="margin-top:10px;height:auto;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">App01: Distance Converter</h5>
                <p class="card-text">A web app which converts multiple units and outputs a result.</p>
                <a asp-action="DistanceConverter" class="btn btn-primary">App01</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"  style="margin-top:10px;height:auto;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">App02: BMI Calculator</h5>
                <p class="card-text">A web app which calculates your BMI and outputs with a description.</p>
                <a asp-action="BmiCalculator" class="btn btn-primary">App02</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"  style="margin-top:10px;height:auto;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">App03: Student Marks</h5>
                <p class="card-text">A web app using a SQL database to store, modify, delete and view student marks</p>
                <a asp-controller="Students" asp-action="Index" class="btn btn-primary">App03</a>
            </div>
        </div>
    </div>
</div>