
@model CO453_WebApps.Models.PhotoPost


@{
    ViewData["Title"] = "Create";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="~/css/Product%20Sans.css" />
<link rel="stylesheet" href="~/css/App04_Styles.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<img src="~/App04Images/logo.svg" style=" display: block; margin-left: auto; margin-right: auto; width: 200px;margin-top: 20px;margin-bottom:20px;">
<hr />
<div class="d-flex justify-content-center" style="margin-bottom:20px">
    <a class="btn btn-warning" style="width:80px; border-radius:10px" onclick="goBack()">
        <img src="~/img/Buttons/back.svg">
    </a>
</div>
<hr />
<p class="text-center" style="color:#909090;font-size:1.2rem;font-family:'Product Sans'"><b>Create</b></p>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<div class="message-dashboard">
    <div class="row d-flex justify-content-around">
        <form asp-action="Create" class="message-box" style="height:auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="box-header-wrapper">
                @*<p class="box-text-username">@Html.DisplayFor(modelItem => item.Username)</p>*@
                <div class="form-group">
                    <input asp-for="Username" class="form-control box-text-username" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            @*<img class="box-img-thumbnail" src="~/App04Images/not_found.png" onerror="this.style.display = 'none';" alt="">*@
            <div class="form-group">
                <input asp-for="Filename" type="file" name="filename" accept="image/gif, image/jpeg, image/png" style="width:100%;margin-top:5px;font-size:1rem;">
                <span asp-validation-for="Filename" class="text-danger"></span>
            </div>
            @*<p class="text-center box-text-description align-self-center" style="width: 100%;font-size: 165%;margin-bottom: 0px;padding: 3px;padding-bottom: 0px;">@photo.Caption</p>*@
            <div class="form-group box-text-wrapper d-flex">
                <input asp-for="Caption" class="form-control box-text-description align-self-center" style="width: 100%;font-size: 165%;margin-bottom: 0px;padding: 3px;padding-bottom: 0px; padding-left: 10px; border-radius:10px" placeholder="Caption" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-bottom:-10px" />
            </div>
        </form>
    </div>
</div>
