
@model CO453_WebApps.Models.PhotoPost


@{
    ViewData["Title"] = "Create";
}
<script>
    let photo = document.getElementById("image-file").files[0];
    let formData = new FormData();

    formData.append("photo", photo);
    fetch('/upload/image', { method: "POST", body: formData });
</script>


<h1>Create</h1>

<h4>PhotoPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Filename" class="control-label"></label>
                <form action="upload.aspx" method="post" enctype="multipart/form-data">
                    <input type="file" name="UploadedFile" />
                </form>
                <span asp-validation-for="Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



