@model CO453_WebApps.Models.MessagePost

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

<h4>MessagePost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" href="~/css/Product%20Sans.css" />
<link rel="stylesheet" href="~/css/App04_Styles.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<img src="~/App04Images/logo.svg" style=" display: block; margin-left: auto; margin-right: auto; width: 200px;margin-top: 20px;margin-bottom:20px;">
<hr />
<div class="d-flex justify-content-center" style="margin-bottom:20px">
    <a class="btn btn-warning" style="width:80px; border-radius:10px" onclick="goBack()">
        <img src="~/img/Buttons/back.svg">
    </a>
</div>
<hr />
<p class="text-center" style="color:#909090;font-size:1.2rem;font-family:'Product Sans'"><b>Create</b></p>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<div class="message-dashboard">
    <div class="row d-flex justify-content-around">
        <form asp-action="Create" class="message-box" style="height:auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="box-header-wrapper">
                <div class="form-group">
                    <input asp-for="Username" class="form-control box-text-username" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group box-text-wrapper d-flex">
                <textarea asp-for="Message" rows="5" class="form-control box-text-description align-self-center" style="width: 100%;font-size: 165%;margin-bottom: 0px;padding: 3px;padding-bottom: 0px; padding-left: 10px; border-radius:10px" placeholder="Caption"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-bottom:-10px" />
            </div>
        </form>
    </div>
</div>
